[Unit]
Description=runner open_option_positions
After=network.target

[Service]
Type=simple
User=nfields
WorkingDirectory=/home/nfields/tradebox
ExecStart=/home/nfields/.pyenv/shims/python /home/nfields/tradebox/src/runners.py open_option_positions
Restart=on-failure
StartLimitBurst=10
StartLimitIntervalSec=120
RestartSec=5

[Install]
WantedBy=multi-user.target