[Unit]
Description=runner open_broker_option_orders_instrument_data
After=network.target

[Service]
Type=simple
User=nfields
WorkingDirectory=/home/nfields/tradebox/tradebox
ExecStart=/home/nfields/venvs/tradeboxvenv/bin/python /home/nfields/tradebox/tradebox/runners.py open_broker_option_orders_instrument_data
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target