<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='tradebox.css') }}">

</head>
<body>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'positions_tab')">Positions</button>
  <button class="tablinks" onclick="openTab(event, 'runner_status_tab')">Runners</button>
  <button class="tablinks" onclick="openTab(event, 'admin_tab')">Admin</button>
</div>

<div id="positions_tab" class="tabcontent">
  <p class="positions-tab-text-style" id="portfolio_profile">act info refreshing every 3 seconds</p>

  <p>Positions</p>
  <div id="positions_container"></div>
</div>

<div id="runner_status_tab" class="tabcontent">
  <h3>Runners</h3>
  <div class="runner_status_container">
    Portfolio profile:
    <span class="runner_status" id="runner_status_portfolio_profile_active">A</span>
    <span class="runner_status" id="runner_status_portfolio_profile_current_update_success">C</span>
    <span class="runner_status" id="runner_status_portfolio_profile_previous_update_success">P</span>
    <span class="runner_status" id="runner_status_portfolio_profile_timeout">TO</span>
  </div>
  <div class="runner_status_container">
    Open positions:
    <span class="runner_status" id="runner_status_open_option_positions_active">A</span>
    <span class="runner_status" id="runner_status_open_option_positions_current_update_success">C</span>
    <span class="runner_status" id="runner_status_open_option_positions_previous_update_success">P</span>
    <span class="runner_status" id="runner_status_open_option_positions_timeout">TO</span>
  </div>
  <div class="runner_status_container">
    Position mkt data:
    <span class="runner_status" id="runner_status_open_option_positions_market_data_active">A</span>
    <span class="runner_status" id="runner_status_open_option_positions_market_data_current_update_success">C</span>
    <span class="runner_status" id="runner_status_open_option_positions_market_data_previous_update_success">P</span>
    <span class="runner_status" id="runner_status_open_option_positions_market_data_timeout">TO</span>
  </div> 
  <div class="runner_status_container">
    Position instr data:
    <span class="runner_status" id="runner_status_open_option_positions_instrument_data_active">A</span>
    <span class="runner_status" id="runner_status_open_option_positions_instrument_data_current_update_success">C</span>
    <span class="runner_status" id="runner_status_open_option_positions_instrument_data_previous_update_success">P</span>
    <span class="runner_status" id="runner_status_open_option_positions_instrument_data_timeout">TO</span>
  </div> 
</div>

<div id="admin_tab" class="tabcontent">
  <h3>Admin</h3>

  <button onclick="install_runners();">Install Runners</button>
  <br/><br/><button onclick="remove_runners();">Remove Runners</button>
  <br/><br/><button onclick="enable_runners();">Enable Runners</button>
  <br/><br/><button onclick="disable_runners();">Disable Runners</button>
  <br/><br/><button onclick="start_runners();">Start Runners</button>
  <br/><br/><button onclick="stop_runners();">Stop Runners</button>
  <br/><br/><button onclick="rh_login();">RH Login</button>
  <br/><br/><button onclick="rh_logout();">RH Logout</button>

</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
<script src="{{ url_for('static', filename='tradebox.js') }}"></script>

   
</body>
</html>