<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 6px;
  border: 1px solid #ccc;
  border-top: none;
}

.runner_status {
  background-color: red;
  padding: 5px;
}

.positions-tab-text-style {
  font-size: 12px;
}
</style>
</head>
<body>

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'positions_tab')">Positions</button>
  <button class="tablinks" onclick="openTab(event, 'runner_status_tab')">Runners</button>
  <button class="tablinks" onclick="openTab(event, 'admin_tab')">Admin</button>
</div>

<div id="positions_tab" class="tabcontent">
  <p class="positions-tab-text-style" id="portfolio_profile">act info refreshing every 3 seconds</p>

  <p>Positions</p>
  <div id="open_positions"></div>
</div>

<div id="runner_status_tab" class="tabcontent">
  <h3>Runners</h3>
  <div>
    Portfolio profile:
    <span class="runner_status" id="runner_status_portfolio_profile_active">A</span>
    <span class="runner_status" id="runner_status_portfolio_profile_current_update_success">C</span>
    <span class="runner_status" id="runner_status_portfolio_profile_previous_update_success">P</span>
    <span class="runner_status" id="runner_status_portfolio_profile_timeout">TO</span>
  </div> 
</div>

<div id="admin_tab" class="tabcontent">
  <h3>Admin</h3>

  <button onclick="install_runners();">Install Runners</button>
  <br/><br/><button onclick="remove_runners();">Remove Runners</button>
  <br/><br/><button onclick="enable_runners();">Enable Runners</button>
  <br/><br/><button onclick="disable_runners();">Disable Runners</button>
  <br/><br/><button onclick="start_runners();">Start Runners</button>
  <br/><br/><button onclick="stop_runners();">Stop Runners</button>
  <br/><br/><button onclick="rh_login();">RH Login</button>
  <br/><br/><button onclick="rh_logout();">RH Logout</button>

</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-4.0.0.min.js"></script>

<script>
var refresh_portfolio_profile = setInterval(function(){
  //$('#portfolio_profile').load('/portfolio_profile');

  $.get("/portfolio_profile", function( data ) {
    data = JSON.parse(data);
    updatePortfolioProfileDisplay(data[0]);
  });

}, 5000); 

var refresh_all_runners_status = setInterval(function(){
  $.get("/get_all_runners_status", function( data ) {
    data = JSON.parse(data);
    data.forEach(updateRunnersStatus);
  });

}, 5000);


var refresh_open_option_positions = setInterval(function(){
  $.get("/get_open_option_positions", function( data ) {
    data = JSON.parse(data);
    data.forEach(updateOptionPositionsDisplay); //[0]?
  });

}, 5000);

function updatePortfolioProfileDisplay(data) {
  html = "Value: " + data[1]['equity'] + " " + "Tradeable cash: " + data[1]['withdrawable_amount'];
  $('#portfolio_profile').html(html);
}

function updateOptionPositionsDisplay(data) {
  console.log(data);
        // "account": "https://api.robinhood.com/accounts/5QU45833/",
        // "account_number": "5QU45833",
        // "average_price": "77.2500",
        // "chain_id": "9ee49197-7b3c-46c2-8d83-5d5ad1ed9eaa",
        // "chain_symbol": "TSLA",
        // "id": "b772c105-3908-42e4-a741-7bf893465f06",
        // "option": "https://api.robinhood.com/options/instruments/d14e47f4-8980-4893-a478-fa92f2229c8c/",
        // "type": "long",
        // "pending_buy_quantity": "0.0000",
        // "pending_expired_quantity": "4.0000",
        // "pending_expiration_quantity": "4.0000",
        // "pending_exercise_quantity": "0.0000",
        // "pending_assignment_quantity": "0.0000",
        // "pending_sell_quantity": "0.0000",
        // "quantity": "4.0000",
        // "intraday_quantity": "4.0000",
        // "intraday_average_open_price": "77.2500",
        // "created_at": "2026-04-27T15:01:17.378339Z",
        // "expiration_date": "2026-04-27",
        // "trade_value_multiplier": "100.0000",
        // "updated_at": "2026-04-27T20:15:57.364794Z",
        // "url": "https://api.robinhood.com/options/positions/b772c105-3908-42e4-a741-7bf893465f06/",
        // "option_id": "d14e47f4-8980-4893-a478-fa92f2229c8c",
        // "clearing_running_quantity": "0",
        // "clearing_cost_basis": "0",
        // "clearing_direction": "debit",
        // "clearing_intraday_running_quantity": "0",
        // "clearing_intraday_cost_basis": "0",
        // "clearing_intraday_direction": "debit",
        // "opened_at": "2026-04-27T15:01:17.391212Z",
  position_symbol = 
  position_avg_price = 
  position_expiry_date = 
  position_quantity = 
  position_option_id = 
  // get position market data with option_id pk
  // get position instrument data with option_id pk
  position_strike = 
  position_type = 
  position_bid = 
  position_bid_qty = 
  position_ask = 
  position_ask_qty = 

  position_string = position_symbol + " " + position_type + " " + position_expiry_date +  " " + position_strike + " " 
}


// active
// : 
// true
// adjusted_interval
// : 
// 5
// current_update_success
// : 
// true
// default_interval
// : 
// 5
// epoch_time_previous_success
// : 
// 1777395898.09
// 1777523257042
// 1777523371.3148096
// previous_update_success
// : 
// true
// runner_name_pk
// : 
// "portfolio_profile"
function updateRunnersStatus(value, index, array) {
  if (value['runner_name_pk'] == 'portfolio_profile') {

    if (value['active'] == true) {
      $('#runner_status_portfolio_profile_active').css('background-color', 'green');
    } else {
      $('#runner_status_portfolio_profile_active').css('background-color', 'red');
    }


    if (value['current_update_success'] == true) {
      $('#runner_status_portfolio_profile_current_update_success').css('background-color', 'green');
    } else {
      $('#runner_status_portfolio_profile_current_update_success').css('background-color', 'red');
    }

    if (value['previous_update_success'] == true) {
      $('#runner_status_portfolio_profile_previous_update_success').css('background-color', 'green');
    } else {
      $('#runner_status_portfolio_profile_previous_update_success').css('background-color', 'red');
    }

    current_epoch_time = (Date.now() / 1000);
    runner_epoch_time = value['epoch_time_previous_success'];
    elapsed_time_since_last_update = current_epoch_time - runner_epoch_time;
    elapsed_boundary_time = value['adjusted_interval'] + 2;
    if (elapsed_time_since_last_update <= elapsed_boundary_time) {
      $('#runner_status_portfolio_profile_timeout').css('background-color', 'green');
    } else {
      $('#runner_status_portfolio_profile_timeout').css('background-color', 'red');
    }

  };
  // console.log(index);
  // console.log(value);
  // console.log(array);
}


function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

function install_runners() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/install_runners');
  xhr.send(null);
}

function remove_runners() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/remove_runners');
  xhr.send(null);
}

function enable_runners() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/enable_runners');
  xhr.send(null);
}

function disable_runners() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/disable_runners');
  xhr.send(null);
}

function start_runners() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/start_runners');
  xhr.send(null);
}

function stop_runners() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/stop_runners');
  xhr.send(null);
}

function rh_login() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/rh_login');
  xhr.send(null);
}

function rh_logout() {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/rh_logout');
  xhr.send(null);
}
</script>
   
</body>
</html>